        <!-- NAVIGATION -->
        <div class="navbar navbar-trn navbar-fixed-top navbar-height" role="navigation" id="navbarSettings">
            <div class="container">
                <div class="navbar-header">
                    <!-- Mobile Navigation -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--/END Mobile Navigation -->
                    <!-- Logo/Name -->
                    <a class="scroll navbar-brand scroll" href="#sTop">Influence</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="nav">
                        <li class="dropdown active">
                            <a href="#sTop">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#s1">Features</a>
                        </li>
                        <li class="dropdown">
                            <a href="#s2">About Us</a>
                        </li>
                        <li class="dropdown">
                            <a href="#s3">Portfolio</a>
                        </li>
                        <li class="dropdown">
                            <a href="#s4">Prices</a>
                        </li>
                        <li class="dropdown">
                            <a href="#sNews">News</a>
                        </li>
                        <li class="dropdown">
                            <a href="#s5">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="navbarSpaceBottom"></div>
        <!-- /NAVIGATION -->


